so.js
result.json
backend/node_modules/
backend/.env
backend/.vscode
frontend/.env
backend/supabase/.env.local
backend/supabase/.env
.vscode/settings.json
backend/supabase/functions/filler/index.ts
public/*
.firebaserc
firebase.json
.firebase/hosting.cHVibGlj.cache
